body{
	font-family: 'Josefin Sans', sans-serif;
	background-color: yellow;
	
}
#header{
	color: red;
	font-weight: bold;
	margin-top: 20px;


}
#main{
	color: green;
    font-size: 20px;
    margin-bottom: 15px;

}
#getname{
	font-size: 15px;
}
#getimg{
	border: 6px solid blue;
	background-color: white;
}
button{
	margin-top: 15px;
}
.one{
	margin-right: 20px;
}
h4{
	margin-top: 10px;
}